body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, sans-serif;
    scroll-behavior: smooth;
}

#nav {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    padding: 0;
}

#nav > ul {
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    list-style: none;
}

#nav > ul > a > li, #nav > ul > li > input {
    margin: 0;
    margin-left: 10%;
    float: left;
    color: black;
    transition: transform 0.5s;
}

#nav > ul > a > li:hover {
    color: rgb(51, 51, 51);
    transform: scale(1.12);
    text-shadow: cyan 1px .2px 12px;
}

#nav > ul > li > input:hover {
    color: rgb(51, 51, 51);
    transform: scale(1.12);
    box-shadow: cyan 1px .2px 12px;
}

section {
    width: 100%;
    color: #a3a2a2;
    background-color: rgba(102, 255, 242, 0.2);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 35px;
}

section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section form img{
    max-width: 400px;
}

section label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

section input, section select {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
    transition: all 0.3s;
}

section input[type="file"] {
    padding: 5px;
}

section input[type="submit"] {
    width: 50%;
    background-color: #20b2aa;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 0;
}

section input[type="submit"]:hover {
    background-color: #008b8b;
}


.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.itemHolder {
    display: flex;
    transition: transform 0.5s ease; 

}

.item {
    color: grey;
    background-color: #aff7f4;
    min-width: 18%;  
    border-radius: 15%;
    padding: .5em;
    margin: 0 10px;
    text-align: center;
}

.item:hover{
    transform: scale(1.02);
    transition: .6s;
    box-shadow: 3px 3px 5px;
}

.item a {
    color: grey;
    text-decoration: none;
}
.item a:hover h3{
    color: rgb(255, 177, 229);
    transition: .5s;
}

.warehouse {
    width: 33%;
}

.gallery {
    position: relative;
    max-width: 100%;
    margin: 10px;
}

.gallery-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 2px 2px;
}

#editButton{
    border-radius: 10%;
    margin: 50px 0;
    position: inherit;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    opacity: 0.7;
    transition: opacity 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

button:hover {
    opacity: 1;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

.normalTable tr td{
    border: 1px solid black;
}

.normalTable {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: #e0ffff;
    box-shadow: 0 4px 8px rgba(0, 128, 128, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10%;
}

.normalTable th {
    background-color: #20b2aa;
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 16px;
}

.normalTable td {
    padding: 12px;
    border-bottom: 1px solid #b2d8d8; 
    font-size: 14px;
    color: #006666; 
}


.normalTable tr:hover {
    background-color: #afeeee; 
    transition: 0.3s;
}

.normalTable a {
    color: #008b8b; 
    text-decoration: none;
    font-weight: bold;
}

.normalTable a:hover {
    text-decoration: underline;
    color: #006666;
}

.normalTable tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
.normalTable tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
.normalTable tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
.normalTable tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.addButton{
    text-decoration: none;
    color: white;
    background-color: aquamarine;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
    padding: 15px 23px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgb(112, 112, 112);
}
.addButton:hover{
    background-color: aqua;
    transition: .6s;
}
.addButton::before{
    content: "+";
}

.dateTime{
    width: 50%;
}

/* Responsywność */
@media only screen and (max-width: 1100px) {
    .item {
        width: 45%;
    }
    #nav > ul > a > li, #nav > ul > li > input {
    margin-left: 5%;
    }
}

@media only screen and (max-width: 700px) {
    .item {
        width: 80%;
    }
    #nav > ul > a > li, #nav > ul > li > input {
        margin-left: 2%;
        }
}
